[package]
name = "flow-like-catalog-web"
version = "0.1.0"
edition = "2024"

[features]
default = []
local-ml = ["flow-like-catalog-core/local-ml"]

[dependencies]
flow-like-catalog-core.workspace = true
flow-like.workspace = true
flow-like-types.workspace = true
flow-like-model-provider.workspace = true
flow-like-storage.workspace = true
flow-like-catalog-macros.workspace = true
inventory = "0.3"
ahash.workspace = true
tracing.workspace = true
schemars.workspace = true
futures.workspace = true
serde = { workspace = true, features = ["derive", "rc"] }
tokio = { workspace = true, features = ["rt-multi-thread", "macros"] }
uuid.workspace = true
async-trait.workspace = true
htmd = "0.3.0"
scraper = "0.23.1"
async-imap = { version = "0.11.1", default-features = false, features = ["runtime-tokio", "tokio"] }
async-native-tls = { version = "0.5", default-features = false, features = ["runtime-tokio"] }
async-smtp = { version = "0.10.2", default-features = false, features = ["runtime-tokio", "tokio"] }
mail-parser = "0.11.0"
icalendar.workspace = true
chrono.workspace = true
chrono-tz.workspace = true
regex.workspace = true
base64.workspace = true
