[package]
name = "flow-like-catalog-ml"
version = "0.1.0"
edition = "2024"

[features]
default = []
local-ml = ["flow-like-catalog-core/local-ml"]

[dependencies]
flow-like-catalog-core.workspace = true
flow-like.workspace = true
flow-like-types.workspace = true
flow-like-model-provider.workspace = true
flow-like-storage.workspace = true
flow-like-catalog-macros.workspace = true
inventory = "0.3"
ahash.workspace = true
tracing.workspace = true
schemars.workspace = true
futures.workspace = true
serde = { workspace = true, features = ["derive", "rc"] }
tokio = { workspace = true, features = ["rt-multi-thread", "macros"] }
uuid.workspace = true
async-trait.workspace = true
linfa = { version = "0.8.0", features = ["serde"] }
linfa-datasets = { version = "0.8.0", features = ["generate"] }
linfa-clustering = { version = "0.8.0", features = ["serde"] }
linfa-nn = { version = "0.8.0", features = ["serde"] }
linfa-linear = { version = "0.8.0", features = ["serde"] }
linfa-reduction = { version = "0.8.0", features = ["serde"] }
linfa-svm = { version = "0.8.0", features = ["serde"] }
ndarray.workspace = true
