[package]
name = "flow-like-api"
version = "0.1.0"
edition = "2024"

[build-dependencies]
serde = { workspace = true, features = ["derive", "rc"] }
serde_json.workspace = true
flow-like-types.workspace = true
reqwest = { version = "0.12.15", features = ["blocking"] }

[dependencies]
axum.workspace = true
sea-orm.workspace = true
serde = { workspace = true, features = ["derive", "rc"] }
pin-project-lite = "0.2.16"
tower.workspace = true
flow-like.workspace = true
flow-like-types.workspace = true
flow-like-storage.workspace = true
serde_json.workspace = true
jsonwebtoken.workspace = true
hyper.workspace = true
hyper-util.workspace = true
tracing.workspace = true
tower-http.workspace = true
chrono.workspace = true
oasgen = {version="0.25.0", features = ["axum"]}
async-stripe.workspace = true
bitflags.workspace = true
futures-util.workspace = true
moka.workspace = true
blake3.workspace = true
p256 = "0.13.2"
async-trait.workspace = true

# ---- AWS dependencies ----
aws-config = {workspace = true, optional=true}
aws-sdk-sts = {workspace = true, optional=true}
aws-sdk-sesv2 = {workspace = true, optional=true}
# -----

# ----- Cognito dependencies ----
aws-sdk-cognitoidentityprovider = {version="1.89.0", optional=true}
# -----

# ----- Mail dependencies ----
lettre = {workspace = true, optional=true}
reqwest = {workspace = true}
# -----

[features]
default = ["aws", "cognito", "ses", "smtp", "sendgrid"]
aws = ["aws-config", "aws-sdk-sts"]
cognito = ["aws-sdk-cognitoidentityprovider", "aws-config"]
ses = ["aws-sdk-sesv2", "aws-config"]
smtp = ["lettre"]
sendgrid = []
azure = []
gcp = []
local = []
full=[
    "aws",
    "azure",
    "gcp",
    "local",
    "ses",
    "smtp",
    "sendgrid",
]

[dev-dependencies]
tokio = { workspace = true, features = ["macros", "rt-multi-thread"] }
