[build]
rustflags = ["-C", "target-cpu=native"]

[net]
git-fetch-with-cli = true

[registries.crates-io]
protocol = "sparse"

[target.x86_64-unknown-linux-gnu]
linker = "clang"
rustflags = ["-C", "link-arg=-fuse-ld=lld"]

[target.aarch64-apple-darwin]
rustflags = ["-C", "link-arg=-fuse-ld=/usr/bin/ld"]

[target.aarch64-apple-ios]
rustflags = [
  "-C", "debug-assertions=yes",
  "-C", "debuginfo=0",
  "-C", "strip=symbols",
  "-C", "opt-level=z",
  "-C", "panic=abort",
]

[target.aarch64-apple-ios-sim]
rustflags = [
  "-C", "debug-assertions=yes",
  "-C", "debuginfo=0",
  "-C", "strip=symbols",
  "-C", "opt-level=z",
  "-C", "panic=abort",
]

[target.x86_64-apple-ios]
rustflags = [
  "-C", "debug-assertions=yes",
  "-C", "debuginfo=0",
  "-C", "strip=symbols",
  "-C", "opt-level=z",
  "-C", "panic=abort",
]