[package]
name = "flow-like-model-provider"
version = "0.1.0"
edition = "2024"

[features]
# default = ["local-ml"]
default = []
local-ml = ["dep:ort", "dep:fastembed"]

[dependencies]
flow-like-types.workspace = true
text-splitter = {version = "0.27.0", features = ["markdown", "tokenizers", "tiktoken-rs"]}
tokenizers = {version="0.21.4", default-features = false, features = ["onig"]}
schemars.workspace = true
futures.workspace = true
serde = { workspace = true, features = ["derive", "rc"] }
tiktoken-rs = "0.7.0"
aws-config = { workspace = true, features = ["behavior-version-latest"] }
aws-sdk-bedrockruntime = "1.101.0"
ndarray.workspace = true
rig-core.workspace = true
rmcp.workspace = true

[target.'cfg(not(any(target_os = "ios", target_os = "tvos")))'.dependencies]
# We can enable the standard ort crate again with the next release, when PR: https://github.com/pykeio/ort/pull/430 is merged and released.
# ort = { version = "=2.0.0-rc.10", features = ["download-binaries", "copy-dylibs", "ndarray"] }
#fastembed = { version = "5.2.0", default-features = false, features = ["ort-download-binaries"] }
ort = { git = "https://github.com/TM9657/ort.git", rev = "1d64032", features = ["download-binaries", "copy-dylibs", "ndarray"], optional = true }
fastembed = { git = "https://github.com/TM9657/fastembed-rs.git", rev = "8cddfc6", default-features = false, features = ["ort-download-binaries"], optional = true }


[target.'cfg(any(target_os = "ios", target_os = "tvos"))'.dependencies]
# We can enable the standard ort crate again with the next release, when PR: https://github.com/pykeio/ort/pull/430 is merged and released. -> IOS Build Blocker
# https://download.onnxruntime.ai/pod-archive-onnxruntime-c-1.20.0.zip does not contain the ios/tvos libs we need for building
#ort = { version = "=2.0.0-rc.10", default-features = false, features=["ndarray"] }
#fastembed = { version = "5.2.0", default-features = false, features = []}
ort = { git = "https://github.com/TM9657/ort.git", rev = "1d64032", default-features = false, features=["ndarray"], optional = true }
fastembed = { git = "https://github.com/TM9657/fastembed-rs.git", rev = "8cddfc6", default-features = false, features = [], optional = true }

[dev-dependencies]
dotenv = "0.15.0"
