name: "Lint & Format"

on:
  pull_request:
    branches:
      - dev

jobs:
  clippy:
    name: Clippy
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      - uses: ./.github/actions/setup-environment
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Run Clippy
        run: cargo clippy -- -D clippy::correctness -D clippy::suspicious

  fmt:
    name: Format
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      - uses: ./.github/actions/setup-environment
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Check Formatting
        run: cargo fmt --check