name: "Tests"

on:
  pull_request:
    branches:
      - dev

jobs:
  test-application:
    name: Test Application
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      - uses: ./.github/actions/setup-environment
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Run Rust tests
        run: cargo test
        env:
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
          AZURE_OPENAI_API_KEY: ${{ secrets.AZURE_OPENAI_API_KEY }}
          AZURE_OPENAI_ENDPOINT: ${{ secrets.AZURE_OPENAI_ENDPOINT }}